<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Detalle de Computadora</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/computadora"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="computadora; else loading">
    <!-- Detalles de la computadora -->
    <ion-card>
      <img
        *ngIf="computadora.imagen"
        [src]="computadora.imagen"
        alt="Imagen de {{ computadora.nombre }}"
        class="computadora-img"
      />
      <ion-card-header>
        <ion-card-title>{{ computadora.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Detalles adicionales sobre la computadora seleccionada...</p>
      </ion-card-content>
    </ion-card>

    <!-- Secciones -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Software</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <input type="file" (change)="onFileSelected($event, 'software')" />
        <ion-list>
          <ion-item *ngFor="let archivo of softwareArchivos">
            <ion-label>{{ archivo.nombre }}</ion-label>
            <ion-button href="{{ archivo.url }}" target="_blank" fill="outline">Descargar</ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Documentos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <input type="file" (change)="onFileSelected($event, 'documentos')" />
        <ion-list>
          <ion-item *ngFor="let archivo of documentosArchivos">
            <ion-label>{{ archivo.nombre }}</ion-label>
            <ion-button href="{{ archivo.url }}" target="_blank" fill="outline">Ver</ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Planos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <input type="file" (change)="onFileSelected($event, 'planos')" />
        <ion-list>
          <ion-item *ngFor="let archivo of planosArchivos">
            <ion-label>{{ archivo.nombre }}</ion-label>
            <ion-button href="{{ archivo.url }}" target="_blank" fill="outline">Abrir</ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #loading>
    <ion-spinner></ion-spinner>
    <p>Cargando detalles de la computadora...</p>
  </ng-template>
</ion-content>
