<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Detalle de Computadora</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/computadora"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="computadora; else loading">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Manuales</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <input type="file" (change)="onFileSelected($event, 'manuales')" />
        <ion-list>
          <ion-item *ngFor="let archivo of manualesArchivos">
            <ion-label>{{ archivo.nombre }}</ion-label>
            <ion-button (click)="onDeleteArchivo(archivo, 'manuales')" color="danger">Eliminar</ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Planos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <input type="file" (change)="onFileSelected($event, 'planos')" />
        <ion-list>
          <ion-item *ngFor="let archivo of planosArchivos">
            <ion-label>{{ archivo.nombre }}</ion-label>
            <ion-button (click)="onDeleteArchivo(archivo, 'planos')" color="danger">Eliminar</ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Videos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <input type="text" placeholder="Ingrese URL" [(ngModel)]="newVideoUrl" />
        <ion-button (click)="onAddUrl('videos')" color="primary">Agregar</ion-button>
        <ion-list>
          <ion-item *ngFor="let url of videosArchivos">
            <ion-label>{{ url.url }}</ion-label>
            <ion-button (click)="onDeleteArchivo(url, 'videos')" color="danger">Eliminar</ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Software</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <input type="text" placeholder="Ingrese URL" [(ngModel)]="newSoftwareUrl" />
        <ion-button (click)="onAddUrl('software')" color="primary">Agregar</ion-button>
        <ion-list>
          <ion-item *ngFor="let url of softwareArchivos">
            <ion-label>{{ url.url }}</ion-label>
            <ion-button (click)="onDeleteArchivo(url, 'software')" color="danger">Eliminar</ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #loading>
    <ion-spinner></ion-spinner>
    <p>Cargando detalles de la computadora...</p>
  </ng-template>
</ion-content>
